<h1>ADMIN OPTIONS</h1>
<br><br>

<td><%= link_to 'Manage Users', users_path %></td>

<br><br>

<td><%= link_to 'Manage Categories', categories_path %></td>

<br><br>

<td><%= link_to 'Manage Posts / Comments', posts_path %></td>

<br><br>

<td><%= link_to 'Reports', reports_path %></td>

